BackupAdmin/BackupAdmin/Service References/ServerReference/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfService1" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfService1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="tbDaemon">
    <xs:sequence>
      <xs:element minOccurs="0" name="DaemonName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IpAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastActive" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PcName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="tbDaemon" nillable="true" type="tns:tbDaemon" />
  <xs:complexType name="tbDestination">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="LTask" nillable="true" type="tns:ArrayOftbTask" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="tbDestination" nillable="true" type="tns:tbDestination" />
  <xs:complexType name="ArrayOftbTask">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="tbTask" nillable="true" type="tns:tbTask" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOftbTask" nillable="true" type="tns:ArrayOftbTask" />
  <xs:complexType name="tbTask">
    <xs:sequence>
      <xs:element minOccurs="0" name="DaemonId" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="KornExpression" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LDestination" nillable="true" type="tns:ArrayOftbDestination" />
      <xs:element minOccurs="0" name="TaskFinished" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="tbTask" nillable="true" type="tns:tbTask" />
  <xs:complexType name="ArrayOftbDestination">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="tbDestination" nillable="true" type="tns:tbDestination" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOftbDestination" nillable="true" type="tns:ArrayOftbDestination" />
  <xs:complexType name="tbLog">
    <xs:sequence>
      <xs:element minOccurs="0" name="DaemonId" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="tbLog" nillable="true" type="tns:tbLog" />
  <xs:complexType name="ArrayOftbDaemon">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="tbDaemon" nillable="true" type="tns:tbDaemon" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOftbDaemon" nillable="true" type="tns:ArrayOftbDaemon" />
  <xs:complexType name="CompositeType">
    <xs:sequence>
      <xs:element minOccurs="0" name="BoolValue" type="xs:boolean" />
      <xs:element minOccurs="0" name="StringValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompositeType" nillable="true" type="tns:CompositeType" />
</xs:schema>