BackupAdmin/BackupAdmin/Service References/ServerReference/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:42867/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:42867/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:42867/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfService1" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_UploadString_InputMessage">
    <wsdl:part name="parameters" element="tns:UploadString" />
  </wsdl:message>
  <wsdl:message name="IService1_UploadString_OutputMessage">
    <wsdl:part name="parameters" element="tns:UploadStringResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UploadDaemon_InputMessage">
    <wsdl:part name="parameters" element="tns:UploadDaemon" />
  </wsdl:message>
  <wsdl:message name="IService1_UploadDaemon_OutputMessage">
    <wsdl:part name="parameters" element="tns:UploadDaemonResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UploadDestination_InputMessage">
    <wsdl:part name="parameters" element="tns:UploadDestination" />
  </wsdl:message>
  <wsdl:message name="IService1_UploadDestination_OutputMessage">
    <wsdl:part name="parameters" element="tns:UploadDestinationResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UploadLog_InputMessage">
    <wsdl:part name="parameters" element="tns:UploadLog" />
  </wsdl:message>
  <wsdl:message name="IService1_UploadLog_OutputMessage">
    <wsdl:part name="parameters" element="tns:UploadLogResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UploadTask_InputMessage">
    <wsdl:part name="parameters" element="tns:UploadTask" />
  </wsdl:message>
  <wsdl:message name="IService1_UploadTask_OutputMessage">
    <wsdl:part name="parameters" element="tns:UploadTaskResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UploadDaemonReference_InputMessage">
    <wsdl:part name="parameters" element="tns:UploadDaemonReference" />
  </wsdl:message>
  <wsdl:message name="IService1_UploadDaemonReference_OutputMessage">
    <wsdl:part name="parameters" element="tns:UploadDaemonReferenceResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateDaemonLastActive_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateDaemonLastActive" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateDaemonLastActive_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateDaemonLastActiveResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_CheckDeamonReference_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckDeamonReference" />
  </wsdl:message>
  <wsdl:message name="IService1_CheckDeamonReference_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckDeamonReferenceResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateDeamonReference_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateDeamonReference" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateDeamonReference_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateDeamonReferenceResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_FindDestinationByTaskId_InputMessage">
    <wsdl:part name="parameters" element="tns:FindDestinationByTaskId" />
  </wsdl:message>
  <wsdl:message name="IService1_FindDestinationByTaskId_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindDestinationByTaskIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_FindTaskByDestinationId_InputMessage">
    <wsdl:part name="parameters" element="tns:FindTaskByDestinationId" />
  </wsdl:message>
  <wsdl:message name="IService1_FindTaskByDestinationId_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindTaskByDestinationIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ExistDeamonTask_InputMessage">
    <wsdl:part name="parameters" element="tns:ExistDeamonTask" />
  </wsdl:message>
  <wsdl:message name="IService1_ExistDeamonTask_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExistDeamonTaskResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDeamonTask_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDeamonTask" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDeamonTask_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDeamonTaskResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_NewLogMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:NewLogMessage" />
  </wsdl:message>
  <wsdl:message name="IService1_NewLogMessage_OutputMessage">
    <wsdl:part name="parameters" element="tns:NewLogMessageResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllDestinations_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllDestinations" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllDestinations_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllDestinationsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllDaemons_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllDaemons" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllDaemons_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllDaemonsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UploadTaskReference_InputMessage">
    <wsdl:part name="parameters" element="tns:UploadTaskReference" />
  </wsdl:message>
  <wsdl:message name="IService1_UploadTaskReference_OutputMessage">
    <wsdl:part name="parameters" element="tns:UploadTaskReferenceResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDaemon_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDaemon" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDaemon_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDaemonResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IService1_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="UploadString">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UploadString" message="tns:IService1_UploadString_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UploadStringResponse" message="tns:IService1_UploadString_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UploadDaemon">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UploadDaemon" message="tns:IService1_UploadDaemon_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UploadDaemonResponse" message="tns:IService1_UploadDaemon_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UploadDestination">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UploadDestination" message="tns:IService1_UploadDestination_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UploadDestinationResponse" message="tns:IService1_UploadDestination_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UploadLog">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UploadLog" message="tns:IService1_UploadLog_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UploadLogResponse" message="tns:IService1_UploadLog_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UploadTask">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UploadTask" message="tns:IService1_UploadTask_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UploadTaskResponse" message="tns:IService1_UploadTask_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UploadDaemonReference">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UploadDaemonReference" message="tns:IService1_UploadDaemonReference_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UploadDaemonReferenceResponse" message="tns:IService1_UploadDaemonReference_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateDaemonLastActive">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UpdateDaemonLastActive" message="tns:IService1_UpdateDaemonLastActive_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UpdateDaemonLastActiveResponse" message="tns:IService1_UpdateDaemonLastActive_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckDeamonReference">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CheckDeamonReference" message="tns:IService1_CheckDeamonReference_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CheckDeamonReferenceResponse" message="tns:IService1_CheckDeamonReference_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateDeamonReference">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UpdateDeamonReference" message="tns:IService1_UpdateDeamonReference_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UpdateDeamonReferenceResponse" message="tns:IService1_UpdateDeamonReference_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindDestinationByTaskId">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/FindDestinationByTaskId" message="tns:IService1_FindDestinationByTaskId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/FindDestinationByTaskIdResponse" message="tns:IService1_FindDestinationByTaskId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindTaskByDestinationId">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/FindTaskByDestinationId" message="tns:IService1_FindTaskByDestinationId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/FindTaskByDestinationIdResponse" message="tns:IService1_FindTaskByDestinationId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExistDeamonTask">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ExistDeamonTask" message="tns:IService1_ExistDeamonTask_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ExistDeamonTaskResponse" message="tns:IService1_ExistDeamonTask_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDeamonTask">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetDeamonTask" message="tns:IService1_GetDeamonTask_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDeamonTaskResponse" message="tns:IService1_GetDeamonTask_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NewLogMessage">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/NewLogMessage" message="tns:IService1_NewLogMessage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/NewLogMessageResponse" message="tns:IService1_NewLogMessage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllDestinations">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAllDestinations" message="tns:IService1_GetAllDestinations_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAllDestinationsResponse" message="tns:IService1_GetAllDestinations_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllDaemons">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAllDaemons" message="tns:IService1_GetAllDaemons_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAllDaemonsResponse" message="tns:IService1_GetAllDaemons_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UploadTaskReference">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UploadTaskReference" message="tns:IService1_UploadTaskReference_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UploadTaskReferenceResponse" message="tns:IService1_UploadTaskReference_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDaemon">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetDaemon" message="tns:IService1_GetDaemon_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDaemonResponse" message="tns:IService1_GetDaemon_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetData" message="tns:IService1_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataResponse" message="tns:IService1_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContract" message="tns:IService1_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContractResponse" message="tns:IService1_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UploadString">
      <soap:operation soapAction="http://tempuri.org/IService1/UploadString" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadDaemon">
      <soap:operation soapAction="http://tempuri.org/IService1/UploadDaemon" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadDestination">
      <soap:operation soapAction="http://tempuri.org/IService1/UploadDestination" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadLog">
      <soap:operation soapAction="http://tempuri.org/IService1/UploadLog" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadTask">
      <soap:operation soapAction="http://tempuri.org/IService1/UploadTask" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadDaemonReference">
      <soap:operation soapAction="http://tempuri.org/IService1/UploadDaemonReference" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateDaemonLastActive">
      <soap:operation soapAction="http://tempuri.org/IService1/UpdateDaemonLastActive" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckDeamonReference">
      <soap:operation soapAction="http://tempuri.org/IService1/CheckDeamonReference" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateDeamonReference">
      <soap:operation soapAction="http://tempuri.org/IService1/UpdateDeamonReference" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindDestinationByTaskId">
      <soap:operation soapAction="http://tempuri.org/IService1/FindDestinationByTaskId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindTaskByDestinationId">
      <soap:operation soapAction="http://tempuri.org/IService1/FindTaskByDestinationId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExistDeamonTask">
      <soap:operation soapAction="http://tempuri.org/IService1/ExistDeamonTask" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDeamonTask">
      <soap:operation soapAction="http://tempuri.org/IService1/GetDeamonTask" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NewLogMessage">
      <soap:operation soapAction="http://tempuri.org/IService1/NewLogMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllDestinations">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAllDestinations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllDaemons">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAllDaemons" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadTaskReference">
      <soap:operation soapAction="http://tempuri.org/IService1/UploadTaskReference" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDaemon">
      <soap:operation soapAction="http://tempuri.org/IService1/GetDaemon" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IService1/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IService1/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:42867/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>